<!doctype html>
<html>
    <head>
        <title>Todo</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="index.css" />
        <script src="../public/vue.js"></script>
    </head>
    <body>
        <div class="page-top">
            <div class="page-content">
                <h2>计划任务列表</h2>
            </div>
        </div>
        <div class="main">
            <h3 class="big-title">添加任务：</h3>
            <input class="task-input" v-model="todoNew" v-on:keyup.enter="addTodoNew" type="text" />
            <ul class="task-count">
                <li>{{unCompleteTodo}} 个未完成任务</li>
                <li class="action">
                    <a v-bind:class="{active: status.status === todoFilter}" v-for="status in todoStatus" v-bind:href="'#'+status.status">{{status.desc}}</a>
                </li>
            </ul>
            <h3 class="big-title">任务列表：</h3>
            <div class="task">
                <span class="no-task-tip" v-show="!todoList.length">还没添加任务任务</span>
                <ul class="todo-list">
                    <li class="todo" v-bind:class="{completed: item.isChecked, editing: item === editingTodo}" v-for="item in todoListFilter">
                        <div class="view">
                            <input class="toggle" v-model="item.isChecked" type="checkbox" />
                            <label v-on:dblclick="editTodo(item)">{{item.todoTitle}}</label>
                            <button class="destroy" v-on:click="deleteTodo(item)"></button>
                        </div>
                        <input class="edit" type="text" v-model="item.todoTitle" v-focus="item === editingTodo" v-on:blur="editTodoSuccess" v-on:keyup.esc="editTodoCancel(item)"/>
                    </li>
                </ul>
            </div>
        </div>
    </body>
    <script src="./app.js"></script>
</html>
